body{
    background-color: #F8F1F1;
}

.navigation{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo{
    color: #DB6400;
}

.navlinks > a{
    color: #16697A;
    text-decoration: none;
    margin: 16px;
    font-size: 20px;
}

.navlinks > button {
    padding: 10px;
    border-radius: 9999px;
    background-color: #16697A;
    color: #F8F1F1;
}

.navlinks > button:hover{
    background-color: #FFA62B;
}

.hero{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}
.hero img{
    width: 100%;
    object-fit: cover;
    display: block;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFA62B;
}

.hero-content h1 {
    font-size: 50px;
    margin: 0;
}
#team {
    background-color: #eee;
    padding: 40px;
    text-align: center;
}

#team h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.team-member {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 1.5em;
    color: #333;
    margin: 0;
}

.team-member p {
    font-size: 1em;
    color: #666;
    margin: 5px 0 0 0;
}

#mission-vision {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    /* background-color: #fff; */
    background-image: url(assets/masaimara.jpg);
}

.statement {
    width: 45%;
}

.statement h2 {
    font-size: 2em;
    color: #333;
}

.statement p {
    font-size: 1.2em;
    color: #666;
}

